@import "src/variables";

button {
  background: none !important;
  color: $white;
  border: none;
  outline-style: none;
  border: none;
  padding: 0 !important;
  p:hover {
    text-decoration: underline;
    color: $red;
  }
}
