@import "src/variables";

button {
  background: none !important;
  color: $white;
  border: none;
  outline-style: none;
  border: none;
  padding: 0 !important;
  p:hover {
    text-decoration: underline;
    color: $red;
  }
}

@media screen and (min-width: 1500px) {
  footer {
    position: absolute;
    bottom: 0;
  width: 100%;
  }
}

@media screen and (min-width: 1000px) {
  .link-size {
    font-size: 26pt;
  }
}

@media screen and (max-width: 1000px) {
  .link-size {
    font-size: 20pt;
  }
}