.active {
  border: white 3px;
  transform: scale(1.2, 1.2);
  fa-icon {
    filter: invert(68%) sepia(46%) saturate(3062%) hue-rotate(356deg) brightness(102%) contrast(91%);
  }
}

button:not(.active) {
  filter: invert(1);
}

button:focus {
  outline: 0;
}

button:not(.active):hover {
  transform: scale(1.2, 1.2);
}
