<div class="col">
    <div class="container my-3">
        <div class=" d-inline-block">
            <div class="row TekoSemiBold px-0">
                <h3 class="white m-0" style="font-size: 55pt;">MY RECENT</h3>
                <h3 class="red ml-2" style="font-size: 55pt;">WORKS</h3>
            </div>
        </div>
    </div>
</div>

<div class="container p-0">
    <div class="row m-0 p-0">
        <app-project *ngFor="let project of filtered | async" 
        [project]="project" class="p-0"></app-project>
    </div>
</div>