.scale {
  transform: scale(3.5);
}

.skills {
  height: 8vh;
}

@media screen and (max-width: 600px) {
  img {
    height: 5vh;
    transition: height 1s;
  }
}

@media screen and (min-width: 600px) {
  img {
    height: 6vh;
    transition: height 1s;
  }
}
