<nav class="justify-content-around navbar navbar-dark fixed-top row render skills">
    <div class="img-parent">
        <img class="noselect" draggable="false" src="assets/svg/Angular.svg" class="invert">
    </div>
    <div class="img-parent">
        <img class="noselect" draggable="false" src="assets/svg/unity-engine.svg" class="invert">
    </div>
    <div class="img-parent">
        <img class="noselect" draggable="false" src="assets/svg/unreal-engine.svg" class="invert">
    </div>
    <div class="img-parent">
        <img class="noselect" draggable="false" src="assets/svg/Substance.svg" class="invert">
    </div>
    <div class="img-parent">
        <img class="noselect" draggable="false" src="assets/svg/3DsMax.svg" class="grayscale brighten">
    </div>
    <div class="img-parent">
        <img class="noselect" draggable="false" src="assets/svg/Adobe_Photoshop.svg"
            class="grayscale brighten">
    </div>
    <div class="img-parent">
        <img class="noselect" draggable="false" src="assets/svg/Adobe_Illustrator.svg"
        class="grayscale brighten">
    </div>
</nav>