img {
  color: white;
  min-width: 30%;
  max-width: 40%;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.img-parent {
  width: 10%;
  text-align: center;
}

.scale {
  transform: scale(3.5);
}
