<nav class="justify-content-around navbar navbar-dark fixed-bottom row render skills">
    <div class="img-parent">
        <img class="noselect" draggable="false" src="assets/svg/github.svg" style="filter: invert();">
    </div>
    <div class="img-parent">
        <img class="noselect" draggable="false" src="assets/svg/Angular.svg" style="filter: invert();">
    </div>
    <div class="img-parent">
        <img class="noselect" draggable="false" src="assets/svg/unity-engine.svg" style="filter: invert();">
    </div>
    <div class="img-parent">
        <img class="noselect" draggable="false" src="assets/svg/unreal-engine.svg" style="filter: invert();">
    </div>
    <div class="img-parent">
        <img class="noselect" draggable="false" src="assets/svg/Substance.svg" style="filter: invert();">
    </div>
    <div class="img-parent">
        <img class="noselect" draggable="false" src="assets/svg/3DsMax.svg" style="filter: grayscale()brightness(3)">
    </div>
    <div class="img-parent">
        <img class="noselect" draggable="false" src="assets/svg/Adobe_Photoshop.svg"
            style="filter: grayscale()brightness(2)">
    </div>
    <div class="img-parent">
        <img class="noselect" draggable="false" src="assets/svg/Adobe_Illustrator.svg"
            style="filter: grayscale()brightness(2)">
    </div>
</nav>