<div class="d-flex justify-content-around" style="background-color: black;">
    <fa-icon class="icon" [icon]="['fab', 'angular']"></fa-icon>
    <fa-icon class="icon" [icon]="['fab', 'github']"></fa-icon>
    <img class="noselect img-config" draggable="false" src="../../../assets/svg/unity-69-logo-svg-vector.svg">
    <img class="noselect img-config" draggable="false" src="./../../../assets/svg/unreal-logo.svg">
    <img class="noselect img-config scaled" draggable="false" src="./../../../assets/svg/Substance_Icon.svg">
    <img class="noselect img-config" draggable="false" src="./../../../assets/svg/3d_max_2014_vector.svg" style="padding: 30px; filter: grayscale()brightness(3)">
    <img class="noselect img-config" draggable="false" src="./../../../assets/svg/Adobe_Photoshop_CC_icon.svg" style="padding: 30px; filter: grayscale()brightness(2)">
    <img class="noselect img-config" draggable="false" src="./../../../assets/svg/Adobe_Illustrator_CC_icon.svg" style="padding: 30px; filter: grayscale()brightness(2)">
</div>