img {
  color: white;
  height: 6vh;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.img-parent {
  text-align: center;
}

.scale {
  transform: scale(3.5);
}

.skills {
  background-color: black;
  height: 10vh;
}

@media screen and (max-width: 600px) {
  img {
    height: 5vh;
    transition: height 1s;
  }
}

@media screen and (min-width: 600px) {
  img {
    height: 6vh;
    transition: height 1s;
  }
}
