@import "src/variables";

.resize {
  font-size: 30px;
}

p {
  color: $white;
}

p:focus,
p:active {
  outline: none !important;
  box-shadow: none;
  text-decoration: underline;
  color: $red;
}

.btn:hover:not(.active){
  text-decoration: underline;
  color: $white;
}

.active {
  outline: none !important;
  box-shadow: none;
  text-decoration: underline;
  color: $red;
}
