.resize {
  font-size: 30px;
}

@media screen and (max-width: 340px) {
  .resize {
    font-size: 8vw;
    padding-top: 1.5vw;
  }
}

.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}

.btn:hover{
  text-decoration: underline;
}

.active{
  font-weight: bold;
}

