<nav class="navbar" style="width: 100%;">
    <div class="navbar-header row">
        <div class="container">
            <a class="navbar-brand no-select" [routerLink]="['Home']" routerLinkActive="" style="width: 80px;">
                <img src="assets/svg/Logo.svg" class="ml-3" 
                style="filter: invert(14%) sepia(68%) saturate(4966%) hue-rotate(337deg) brightness(94%) contrast(103%);">
            </a>
        </div>
    </div>
    <div class="navbar-toggle collapsed">
        <p class="btn resize m-0 TekoRegular nav-elements" [routerLink]="['Home']" [routerLinkActive]="['active']">Home</p>
        <p class="btn resize m-0 TekoRegular nav-elements" [routerLink]="['About']" [routerLinkActive]="['active']">About</p>
        <p class="btn resize m-0 TekoRegular nav-elements" [routerLink]="['Projects']" [routerLinkActive]="['active']">Projects</p>
    </div>
</nav>