<div class="card text-justify m-3 card-block" style="height: 95%;">
    <div class="text-center card-title" style="color: whitesmoke;">
        <h1>About me</h1>
    </div>
    <img [src]=[hostData.pictureURL] style="width: 150px" class="card-img-top">
    <div style="padding: 10px;" class="card-body" style="color: whitesmoke; font-size: larger;">
        Hello, my name is Torben and welcome to my portfolio!
        I am a developer with a passion for games and the knowledge to back it up.
        When I work on projects, I look for the best and most efficient way to get something done.
        <br><br>
        As a programmer I found that solving problems is my main task. Fixing an issue that someone has 
        in an easy to use way. Creating the tools for a company to get their product finished in an efficient way.
        <br><br>
        <app-progressbar *ngFor="let item of hostData.competences" [color]=item.color [percentage]=item.amount [text]=item.name></app-progressbar>
    </div>
    <div class="row container justify-content-around card-footer" style="background-color: transparent; border: none;">
        <div class="img-parent">
            <img class="noselect" draggable="false" src="assets/svg/contact/github.svg">
        </div>
        <div class="img-parent">
            <img class="noselect" draggable="false" src="assets/svg/contact/discord.svg">
        </div>
        <div class="img-parent">
            <img class="noselect" draggable="false" src="assets/svg/contact/facebook.svg">
        </div>
        <div class="img-parent">
            <img class="noselect" draggable="false" src="assets/svg/contact/linkedin.svg">
        </div>
    </div>
</div>