<div class="m-2 p-1">
    <div class="row p-0">
        <h1 style="color: whitesmoke; font-size: large;" class="pl-3">About me</h1>
    </div>
    <div class="row text-justify">
        <div class="col-6">
            <p>I am a Game developer and 3D enthusiast from Belgium.
                Feel free to take a look around my portfolio and don't hesitate to contact me if you have anything you
                want to talk about!
            </p>
            <p>
                I am a passionate game developer, and sometimes do some 3D on the side. Animation, modelling and rigging
                are no strangers to me.
            </p>
        </div>
        <div class="col-6">
            <img [src]=[hostData.pictureURL] style="width: 100%;">
        </div>