.headline {
  color: white;
  margin: 0px;
  margin-left: 5px;
}

p {
  color: whitesmoke;
}

.card {
  border: none;
}

.card-block {
  background-color: rgba(245, 245, 245, 0);
}

.clearBorder {
  background-color: transparent;
  border: transparent;
}

@media screen and (max-width: 870px) {
  .card-body {
    font-size: calc(90%);
    transition: font-size 0.5s;
  }
}
