<div class="card text-justify m-3 card-block">
    <div class="text-center card-title" style="color: whitesmoke;">
        <h1>About me</h1>
    </div>
    <img [src]=[hostData.pictureURL] style="width: 150px" class="card-img-top">
    <div style="padding: 10px;" class="card-body" style="color: whitesmoke;">
        Hello, my name is Torben and welcome to my portfolio!
        I am a developer with a passion for games and knowledge to back it up.
        programming, as well as PBR and level decoration are no stranger to me.
        <br><br>
        Feel free to have a look around and if you ask any questions, feel free to ask them!
    </div>
</div>