<div class="col m-0 p-0">
    <div class="row" *ngIf="about">
        <div class="col m-0 p-0 ml-3" style="max-width: 25vh;">
            <img class="col m-0 p-0" [src]=[about.pictureURL]>
        </div>
        <div class="col p-0">
            <div id="dimensions" style="height: 25vh;">
                <app-threejs-wrapper></app-threejs-wrapper>
            </div>
        </div>
    </div>

    <div>
        <app-navbar></app-navbar>
        <div class="col">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>