canvas {
  display: block;
}

canvas:focus {
  outline: 0;
}

.badge {
  border: 0px;
  margin: 3px;
}

@media screen and (max-width: 470px) {
  .rescale-font {
    font-size: 8vw;
  }

  .icon {
    position: relative;
    /* Adjust these values accordingly */
    top: -5px;
    left: 5px;
  }
}
