@mixin cardMargin {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
  margin-top: 0%;
}

.card-margin {
  @include cardMargin();
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.container:hover .overlay {
  opacity: 1;
}

.container {
  position: relative;
  max-width: 300px;

  .overlay {
    :hover {
      opacity: 1;
    }
  }
}

.img-hover-zoom {
  overflow: hidden;
  img {
    transition: transform 5s ease;
  }

  :hover {
    transform: scale(1.3);
  }
}
