<div class="row" *ngIf="data">
    <div class="container col about-spacing">
        <div class="row m-0 p-0">
            <div class="col">
                <div class="row container">
                    <h3 class="white m-0 float-left TekoSemiBold" style="font-size: 55pt;">ABOUT</h3>
                    <h3 class="red ml-2 float-left TekoSemiBold" style="font-size: 55pt;">ME</h3>
                </div>
                <p class="white text-justify HindMedium" style="font-size: 14pt;" *ngFor="let item of data.about">
                    {{item}}
                </p>
                <button class="py-3 px-5 TekoMedium" style="font-size: 20pt;">GET IN TOUCH!</button>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 text-center" style="margin-top: 8vh; max-height: 400px;">
        <img [src]=[data.chibiURL] style="height: 100%;">
    </div>
</div>

<div *ngIf="data">
    <div class="col">
        <div class="container text-center my-3">
            <div class="d-inline-block">
                <div class="row TekoSemiBold px-0">
                    <h3 class="white m-0" style="font-size: 55pt;">MY</h3>
                    <h3 class="red ml-2" style="font-size: 55pt;">SKILLS</h3>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row p-0">
                <div *ngFor="let item of data.competences" class="col p-0 mt-xs-4 mt-md-0 text-center">
                    <circle-progress class="TekoSemiBold" 
                        [percent]="item.amount" 
                        [radius]="75"
                        [title]=[item.name]>
                    </circle-progress>
                    <!-- <div class="overlay white HindMedium" style="font-size: 25pt;">{{item.name}}</div> -->
                </div>
            </div>
        </div>
    </div>
</div>