<div class="container">
    <div class="col p-0">
        <div class="my-3">
            <div class="row TekoSemiBold px-0">
                <div class="col row m-0">
                    <h3 class="white m-0 title-scale">{{white}}</h3>
                    <h3 class="red ml-2 title-scale">{{red}}</h3>
                </div>
                <div class="mr-0 ml-auto row">
                    <div class="col TekoSemiBold white my-auto" style="font-size: 30pt;"
                        *ngFor="let item of project.softwareUsed">
                        {{item}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <img src="https://via.placeholder.com/1300x400">
    </div>
    <div class="row mt-5 text-justify">
        <div class="col-md-6 text-box-parent">
            <div class="row TekoSemiBold m-0">
                <h3 class="white m-0" style="font-size: 30pt;">PROJECT</h3>
                <h3 class="red ml-2" style="font-size: 30pt;">DETAILS</h3>
            </div>
            <p class="HindMedium white text-justify m-0 p-0 hide-if-big">
                {{project.details}}
            </p>
        </div>
        <div class="col-md-6 px-2 text-box-parent" >
            <div class="row TekoSemiBold mx-0">
                <h3 class="white m-0" style="font-size: 30pt;">WORKING</h3>
                <h3 class="red ml-2" style="font-size: 30pt;">PROCESS</h3>
            </div>
            <p class="HindMedium white text-justify m-0 p-0 hide-if-big">
                {{project.implementation}}
            </p>
        </div>
    </div>
    <div class="text-center" style="margin-top: 15px;">
        <button class="m-0 py-2 px-4 TekoMedium white" style="font-size: 20pt;" [routerLink]="['/Projects']">BACK TO PROJECTS</button>
    </div>
</div>