.noclick {
  pointer-events: none;
}

img {
  display: block;
  max-width: 100%;
}

footer {
  position: absolute;
  bottom: 0;
}

button {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  outline: none !important;
}
