<div>
    <div class="col text-center text-white">
        <div class="col text-center">
            <h1>{{project.title}}</h1>
        </div>
        <div>
            <img [src]=[project.alternatePreview]>
        </div>
        <div class="col text-center">
            <p>{{project.header}}</p>
            <p class="text-justify">
                {{project.body[0]}}
            </p>
            <p class="text-justify">
                {{project.body[1]}}
            </p>
        </div>
    </div>
</div>