<div class="row" *ngIf="data">
    <div class="container col-5" style="margin-top: 15vh; margin-left: 15vw;">
        <div class="row m-0 p-0 h-100">
            <div class="col">
                <h3 class="red m-0 TekoSemiBold" style="font-size: 31pt;">{{data.title}}</h3>
                <p class="m-0 white TekoSemiBold" style="font-size: 70pt">{{data.name}}</p>
                <p class="white text-justify HindMedium" style="font-size: 13pt;">{{data.hero}}</p>
                <div class="row">
                    <button class="py-3 px-5 TekoMedium mx-2" style="font-size: 20pt;" [routerLink]="['/About']">ABOUT ME</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col ml-5" style="margin-top: 3vh;">
        <img src="https://via.placeholder.com/700">
    </div>
</div>