@import "src/variables";

button {
  background-color: $red;
  border: none;
  color: $white;
  outline-style: none;
}

@media screen and (min-width: 900px) {
  .hero-text-margin {
    margin-left: 13vw;
  }
}

@media screen and (min-width: 1500px) {
  .margin-top-title {
    margin-top: 18vh !important;
  }
}

@media screen and (max-width: 900px) {
  .about-center {
    margin: auto;
  }
}

@media screen and (max-width: 1000px) {
  .image-fullscreen {
    max-width: 100vw;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
    .image-fullscreen {
      max-width: 75vw;
    }
  }
