.bar-height {
  height: 1px;
}

.text-size-about {
  font-size: 14px;
}

.badge {
  border: 0px;
  margin: 3px;
}

.text-white {
  color: whitesmoke;
}

.invert {
  filter: invert(1);
}

.noselect {
  color: white;
  height: 6vh;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.img-parent {
  text-align: center;
}

.button-clear {
  border: unset;
  background: transparent;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #485461;
  background-image: linear-gradient(to top, #485461 0%, #28313b 74%);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 100%;
}

.card-custom {
  background-color: #d9e4f5;
  background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);
}

@media screen and (min-width: 900px) {
  body {
    height: 90%;
  }
}

.grayscale {
  filter: grayscale(1);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
