.bar-height {
  height: 1px;
}

.text-size-about {
  font-size: 14px;
}

.badge {
  border: 0px;
  margin: 3px;
}

.noselect {
  color: white;
  height: 6vh;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.img-parent {
  text-align: center;
}

.button-clear {
  border: unset;
  background: transparent;
}

html {
  overflow-x: hidden;
}

.parallax {
  background-color: #485461;
  background-image: linear-gradient(to top, #485461 0%, #28313b 74%);
}

.card-custom {
  background-color: #d9e4f5;
  background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);
}